<head>
    <meta charset="utf-8">
    <title>My Portfolio - Burak Çokkeçeci</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/Vitrin Teması/hola-master/css/base.css">
    <link rel="stylesheet" href="~/Vitrin Teması/hola-master/css/vendor.css">
    <link rel="stylesheet" href="~/Vitrin Teması/hola-master/css/main.css">
    <script src="~/Vitrin Teması/hola-master/js/modernizr.js"></script>
    <script src="~/Vitrin Teması/hola-master/js/pace.min.js"></script>
    <link rel="shortcut icon" href="~/Vitrin Teması/hola-master/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/Vitrin Teması/hola-master/favicon.ico" type="image/x-icon">
</head>