@model List<MyPortfolio.DAL.Entities.Experience>


<div class="row about-content about-content--timeline">

    <div class="col-full text-center">
        <h3>İş & Proje Deneyimlerim</h3>
    </div>


    @foreach (var Experiences in Model)
    {
        <div class="col-six tab-full left">
            <div class="timeline">
                <div class="timeline__block">
                    <div class="timeline__bullet"></div>
                    <div class="timeline__header">
                        <p class="timeline__timeframe">@Experiences.Date</p>
                        <h3>@Experiences.Head</h3>
                        <h5>@Experiences.Title</h5>
                    </div>
                    <div class="timeline__desc">
                        <p>@Experiences.Description</p>
                    </div>
                </div>
            </div>
        </div>
    }

</div> 