@model List<MyPortfolio.DAL.Entities.Skill>
<div class="col-six tab-full right">
    <h3>Programlama Dilleri & Teknolojileri</h3>

    <ul class="skill-bars">
        @foreach(var Skiils in Model)
        {
            string Deger = "percent" + Skiils.Value;
            <li>
                <div class="progress @Deger"><span>@Skiils.Value%</span></div>
                <strong>@Skiils.Title</strong>
            </li>
        }
    </ul>
</div>